In [1]:
import sqlite3
import pandas as pd

In [2]:

# Connect to the database file you created
conn = sqlite3.connect("global_energy.db")

In [3]:
cursor = conn.cursor()
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
tables = [row[0] for row in cursor.fetchall()]
print("Tables in the database:", tables)

Tables in the database: ['power_plants', 'world_bank', 'country_capacity', 'iea_balances', 'oecd_greengrowth']

In [4]:
for table in tables:
    df_preview = pd.read_sql_query(f"SELECT * FROM {table} LIMIT 5;", conn)
    print(f"\n=== Preview of {table} ===")
    print(df_preview)
    print(df_preview.columns)

=== Preview of power_plants ===
  country country_long                                              name  \
0     AFG  Afghanistan      Kajaki Hydroelectric Power Plant Afghanistan
1     AFG  Afghanistan                                      Kandahar DOG
2     AFG  Afghanistan                                      Kandahar JOL
3     AFG  Afghanistan     Mahipar Hydroelectric Power Plant Afghanistan
4     AFG  Afghanistan  Naghlu Dam Hydroelectric Power Plant Afghanistan

   latitude  longitude primary_fuel  capacity_mw commissioning_year  \
0    32.322    65.1190        Hydro         33.0               None
1    31.670    65.7950        Solar         10.0               None
2    31.623    65.7920        Solar         10.0               None
3    34.556    69.4787        Hydro         66.0               None
4    34.641    69.7170        Hydro        100.0               None

  generation_gwh_2013 generation_gwh_2014 generation_gwh_2015  \
0                None                None                None
1                None                None                None
2                None                None                None
3                None                None                None
4                None                None                None

  generation_gwh_2016 generation_gwh_2017
0                None                None
1                None                None
2                None                None
3                None                None
4                None                None
Index(['country', 'country_long', 'name', 'latitude', 'longitude',
       'primary_fuel', 'capacity_mw', 'commissioning_year',
       'generation_gwh_2013', 'generation_gwh_2014', 'generation_gwh_2015',
       'generation_gwh_2016', 'generation_gwh_2017'],
      dtype='object')

=== Preview of world_bank ===
       country Country Code  \
0  Afghanistan          AFG
1  Afghanistan          AFG
2  Afghanistan          AFG
3  Afghanistan          AFG
4  Afghanistan          AFG

                                         Series Name 1960 [YR1960]  \
0  Carbon dioxide (CO2) emissions from Building (...            ..
1                              Coal rents (% of GDP)            ..
2      Adjusted savings: energy depletion (% of GNI)            ..
3   Adjusted savings: energy depletion (current US$)            ..
4  Alternative and nuclear energy (% of total ene...            ..

  1961 [YR1961] 1962 [YR1962] 1963 [YR1963] 1964 [YR1964] 1965 [YR1965]  \
0            ..            ..            ..            ..            ..
1            ..            ..            ..            ..            ..
2            ..            ..            ..            ..            ..
3            ..            ..            ..            ..            ..
4            ..            ..            ..            ..            ..

  1966 [YR1966]  ...       2014 [YR2014]       2015 [YR2015]  \
0            ..  ...              0.5972              0.9033
1            ..  ...    0.22737000694477   0.163204860716174
2            ..  ...  0.0966641446262806  0.0559867833285066
3            ..  ...    19862746.2035553    11297542.3977155
4            ..  ...                  ..                  ..

        2016 [YR2016]      2017 [YR2017]      2018 [YR2018]  \
0              0.7121             0.6048             0.6925
1   0.249916790607737   0.40234480168601  0.541363923742697
2  0.0763640841889861  0.121057624440334  0.163438299892063
3    13897596.0742528   23176502.8071736   30416288.2185315
4                  ..                 ..                 ..

       2019 [YR2019]        2020 [YR2020]       2021 [YR2021] 2022 [YR2022]  \
0             0.5679               0.5674              0.5918        0.6013
1  0.334119584032567  0.00700147458719358  0.0193977562950517            ..
2  0.100777601807337  0.00571019277688492  0.0182028796567567            ..
3   19354353.5082382     1161018.32966959    2714217.43346233            ..
4                 ..                   ..                  ..            ..

  2023 [YR2023]
0            ..
1            ..
2            ..
3            ..
4            ..

[5 rows x 67 columns]
Index(['country', 'Country Code', 'Series Name', '1960 [YR1960]',
       '1961 [YR1961]', '1962 [YR1962]', '1963 [YR1963]', '1964 [YR1964]',
       '1965 [YR1965]', '1966 [YR1966]', '1967 [YR1967]', '1968 [YR1968]',
       '1969 [YR1969]', '1970 [YR1970]', '1971 [YR1971]', '1972 [YR1972]',
       '1973 [YR1973]', '1974 [YR1974]', '1975 [YR1975]', '1976 [YR1976]',
       '1977 [YR1977]', '1978 [YR1978]', '1979 [YR1979]', '1980 [YR1980]',
       '1981 [YR1981]', '1982 [YR1982]', '1983 [YR1983]', '1984 [YR1984]',
       '1985 [YR1985]', '1986 [YR1986]', '1987 [YR1987]', '1988 [YR1988]',
       '1989 [YR1989]', '1990 [YR1990]', '1991 [YR1991]', '1992 [YR1992]',
       '1993 [YR1993]', '1994 [YR1994]', '1995 [YR1995]', '1996 [YR1996]',
       '1997 [YR1997]', '1998 [YR1998]', '1999 [YR1999]', '2000 [YR2000]',
       '2001 [YR2001]', '2002 [YR2002]', '2003 [YR2003]', '2004 [YR2004]',
       '2005 [YR2005]', '2006 [YR2006]', '2007 [YR2007]', '2008 [YR2008]',
       '2009 [YR2009]', '2010 [YR2010]', '2011 [YR2011]', '2012 [YR2012]',
       '2013 [YR2013]', '2014 [YR2014]', '2015 [YR2015]', '2016 [YR2016]',
       '2017 [YR2017]', '2018 [YR2018]', '2019 [YR2019]', '2020 [YR2020]',
       '2021 [YR2021]', '2022 [YR2022]', '2023 [YR2023]'],
      dtype='object')

=== Preview of country_capacity ===
  country  total_renewable_capacity  total_capacity
0     AFG                    258.55         300.550
1     AGO                    770.60        1071.180
2     ALB                   1431.00        1529.000
3     ARE                    840.00       30327.000
4     ARG                  10727.09       32913.079
Index(['country', 'total_renewable_capacity', 'total_capacity'], dtype='object')

=== Preview of iea_balances ===
     country                   Product                                   Flow  \
0  Australia  Coal, peat and oil shale                        Production (PJ)
1  Australia  Coal, peat and oil shale                           Imports (PJ)
2  Australia  Coal, peat and oil shale                           Exports (PJ)
3  Australia  Coal, peat and oil shale               Total energy supply (PJ)
4  Australia  Coal, peat and oil shale  Electricity, CHP and heat plants (PJ)

       NoCountry                     NoProduct  \
0  01. Australia  01. Coal, peat and oil shale
1  01. Australia  01. Coal, peat and oil shale
2  01. Australia  01. Coal, peat and oil shale
3  01. Australia  01. Coal, peat and oil shale
4  01. Australia  01. Coal, peat and oil shale

                                      NoFlow          1971          1972  \
0                        01. Production (PJ)   1368.251838   1648.414248
1                           02. Imports (PJ)             0             0
2                           03. Exports (PJ)  -541.4240011  -614.7180005
3               04. Total energy supply (PJ)   884.2974695   923.2501588
4  05. Electricity, CHP and heat plants (PJ)  -516.5385537    -569.92192

           1973          1974  ...          2014          2015          2016  \
0   1685.223676   1640.362098  ...   11950.78794   12501.00154   12223.55369
1             0             0  ...   5.240998559   6.978796888   6.829993829
2  -738.9393977  -745.3829457  ...   -10166.8869   -10634.4478   -10552.5051
3   945.5418795   928.3230699  ...     1736.5671   1797.035545   1863.051458
4  -577.9004913  -617.9484684  ...  -1639.902404  -1704.823218  -1753.358738

           2017          2018          2019         2020          2021  \
0   12256.93808    12323.3258   12596.41582  12334.88697   11467.56954
1   7.783700814   12.36445357   17.03484991  19.27029966   12.41685138
2   -10248.0298   -10333.4232   -10629.0366   -10504.852  -9866.188301
3   1996.773936   1930.457749   1956.712871  1782.618877   1683.993595
4  -1723.631613  -1647.423349  -1608.995635  -1515.11305  -1467.357844

           2022 2023 Provisional
0   11416.06592      10961.73829
1   15.02730024      16.56090415
2  -9687.771298     -9149.148195
3   1567.046515      1624.067792
4  -1394.946887               ..

[5 rows x 59 columns]
Index(['country', 'Product', 'Flow', 'NoCountry', 'NoProduct', 'NoFlow',
       '1971', '1972', '1973', '1974', '1975', '1976', '1977', '1978', '1979',
       '1980', '1981', '1982', '1983', '1984', '1985', '1986', '1987', '1988',
       '1989', '1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997',
       '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006',
       '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015',
       '2016', '2017', '2018', '2019', '2020', '2021', '2022',
       '2023 Provisional'],
      dtype='object')

=== Preview of oecd_greengrowth ===
  REF_AREA country      MEASURE                             Measure_desc  \
0      LVA  Latvia  WATER_FWCAP  Total freshwater abstraction per capita
1      LVA  Latvia  WATER_FWCAP  Total freshwater abstraction per capita
2      LVA  Latvia  WATER_FWCAP  Total freshwater abstraction per capita
3      LVA  Latvia  WATER_FWCAP  Total freshwater abstraction per capita
4      LVA  Latvia  WATER_FWCAP  Total freshwater abstraction per capita

   TIME_PERIOD  OBS_VALUE
0         1990        NaN
1         1991     247.00
2         1992     237.96
3         1993     193.19
4         1994     180.58
Index(['REF_AREA', 'country', 'MEASURE', 'Measure_desc', 'TIME_PERIOD',
       'OBS_VALUE'],
      dtype='object')

In [5]:
for table in tables:
    row_count = pd.read_sql_query(f"SELECT COUNT(*) as count FROM {table};", conn)["count"][0]
    df_sample = pd.read_sql_query(f"SELECT * FROM {table} LIMIT 1;", conn)
    col_count = len(df_sample.columns)
    print(f"Table '{table}' has {row_count} rows and {col_count} columns.")

Table 'power_plants' has 34936 rows and 13 columns.
Table 'world_bank' has 37511 rows and 67 columns.
Table 'country_capacity' has 167 rows and 3 columns.
Table 'iea_balances' has 6832 rows and 59 columns.
Table 'oecd_greengrowth' has 677449 rows and 6 columns.

In [6]:
# Example: Summarize capacity by primary_fuel
query_fuel_capacity = """
SELECT primary_fuel, COUNT(*) as plant_count, SUM(capacity_mw) as total_capacity
FROM power_plants
GROUP BY primary_fuel
ORDER BY total_capacity DESC
;
"""
df_fuel_capacity = pd.read_sql_query(query_fuel_capacity, conn)
print(df_fuel_capacity)

      primary_fuel  plant_count  total_capacity
0             Coal         2330    1.965541e+06
1              Gas         3998    1.493051e+06
2            Hydro         7156    1.053160e+06
3          Nuclear          195    4.079118e+05
4             Wind         5344    2.630537e+05
5              Oil         2320    2.618787e+05
6            Solar        10665    1.883123e+05
7          Biomass         1430    3.428130e+04
8            Waste         1068    1.474871e+04
9       Geothermal          189    1.268775e+04
10    Cogeneration           41    4.048000e+03
11           Other           43    3.612860e+03
12         Petcoke           12    2.424577e+03
13         Storage          135    1.712300e+03
14  Wave and Tidal           10    5.522000e+02

In [7]:
query_missing = """
SELECT COUNT(*) as missing_capacity
FROM power_plants
WHERE capacity_mw IS NULL OR capacity_mw = 0
"""
df_missing = pd.read_sql_query(query_missing, conn)
print(df_missing)

   missing_capacity
0                 0

In [8]:
query_countries = """
SELECT country, COUNT(*) AS plant_count
FROM power_plants
GROUP BY country
ORDER BY plant_count DESC
LIMIT 10;
"""
df_top_countries = pd.read_sql_query(query_countries, conn)
print("Countries with the most power plants (top 10):")
print(df_top_countries)

Countries with the most power plants (top 10):
  country  plant_count
0     USA         9833
1     CHN         4235
2     GBR         2751
3     BRA         2360
4     FRA         2155
5     IND         1589
6     DEU         1309
7     CAN         1159
8     ESP          829
9     RUS          545

In [9]:
df_wb_indicators = pd.read_sql_query("""
SELECT DISTINCT [Series Name] as indicator
FROM world_bank
ORDER BY indicator
""", conn)
print("Unique World Bank indicators:", df_wb_indicators.shape[0])
print(df_wb_indicators.head(20))

Unique World Bank indicators: 142
                                            indicator
0                                                None
1   Adjusted net savings, excluding particulate em...
2   Adjusted net savings, excluding particulate em...
3   Adjusted net savings, including particulate em...
4   Adjusted net savings, including particulate em...
5       Adjusted savings: energy depletion (% of GNI)
6    Adjusted savings: energy depletion (current US$)
7   Adjusted savings: particulate emission damage ...
8   Adjusted savings: particulate emission damage ...
9   Agriculture, forestry, and fishing, value adde...
10  Alternative and nuclear energy (% of total ene...
11                             Broad money (% of GDP)
12  Carbon dioxide (CO2) emissions (total) excludi...
13  Carbon dioxide (CO2) emissions (total) excludi...
14  Carbon dioxide (CO2) emissions excluding LULUC...
15  Carbon dioxide (CO2) emissions from Agricultur...
16  Carbon dioxide (CO2) emissions from Building (...
17  Carbon dioxide (CO2) emissions from Fugitive E...
18  Carbon dioxide (CO2) emissions from Industrial...
19  Carbon dioxide (CO2) emissions from Industrial...

In [10]:
pd.read_sql_query("PRAGMA table_info(power_plants);", conn)

    cid                 name  type  notnull dflt_value  pk
0     0              country  TEXT        0       None   0
1     1         country_long  TEXT        0       None   0
2     2                 name  TEXT        0       None   0
3     3             latitude  REAL        0       None   0
4     4            longitude  REAL        0       None   0
5     5         primary_fuel  TEXT        0       None   0
6     6          capacity_mw  REAL        0       None   0
7     7   commissioning_year  REAL        0       None   0
8     8  generation_gwh_2013  REAL        0       None   0
9     9  generation_gwh_2014  REAL        0       None   0
10   10  generation_gwh_2015  REAL        0       None   0
11   11  generation_gwh_2016  REAL        0       None   0
12   12  generation_gwh_2017  REAL        0       None   0

In [11]:
# Example: Join power_plants with a few columns from world_bank on iso3
query_join = """
SELECT p.country, p.primary_fuel, p.capacity_mw,
       w."Series Name" AS wb_indicator,
       w."2020 [YR2020]" AS wb_2020_value
FROM power_plants p
LEFT JOIN world_bank w
    ON p.country = w.country
WHERE w."Series Name" = 'Carbon dioxide (CO2) emissions (kt)'
LIMIT 50;
"""
df_join_example = pd.read_sql_query(query_join, conn)
print(df_join_example.head(10))

Empty DataFrame
Columns: [country, primary_fuel, capacity_mw, wb_indicator, wb_2020_value]
Index: []

In [12]:
query_missing_capacity = """
SELECT COUNT(*) as missing_capacity
FROM power_plants
WHERE capacity_mw IS NULL
"""
print(pd.read_sql_query(query_missing_capacity, conn))

   missing_capacity
0                 0

In [13]:
# Create a table for total capacity by iso3
conn.execute("DROP TABLE IF EXISTS country_capacity;")

conn.execute("""
CREATE TABLE country_capacity AS
SELECT Country,
       SUM(CASE WHEN primary_fuel IN ('Solar', 'Wind', 'Hydro', 'Geothermal', 'Biomass') 
                THEN capacity_mw ELSE 0 END) AS total_renewable_capacity,
       SUM(capacity_mw) as total_capacity
FROM power_plants
GROUP BY Country;
""")

print("Created 'country_capacity' table with aggregated sums.")

Created 'country_capacity' table with aggregated sums.