In [1]:
import pandas as pd
import sqlite3

In [2]:
db_path = "global_energy.db"
conn = sqlite3.connect(db_path)  # creates or opens the database file

In [20]:
df_gp = pd.read_csv("Data/global_power_plant_database.csv")

# Example: Keep only essential columns
keep_cols_gp = [
    "country",
    "country_long",
    "name",
    "latitude",
    "longitude",
    "primary_fuel",
    "capacity_mw",
    "commissioning_year",
    # Keep generation columns if desired:
    "generation_gwh_2013", "generation_gwh_2014", "generation_gwh_2015",
    "generation_gwh_2016", "generation_gwh_2017"
]

# Create a filtered DataFrame
# Global Power Plant (df_gp)


df_gp_filtered = df_gp[keep_cols_gp].copy()
df_gp_filtered = df_gp_filtered.dropna(axis='columns', how='all')
df_gp_filtered.rename(columns={"country": "country_short"}, inplace=True)

df_gp_filtered.rename(columns={"country_long": "country"}, inplace=True)
print(df_gp_filtered.head())
print(df_gp_filtered.columns)

  country_short      country  \
0           AFG  Afghanistan
1           AFG  Afghanistan
2           AFG  Afghanistan
3           AFG  Afghanistan
4           AFG  Afghanistan

                                               name  latitude  longitude  \
0      Kajaki Hydroelectric Power Plant Afghanistan    32.322    65.1190
1                                      Kandahar DOG    31.670    65.7950
2                                      Kandahar JOL    31.623    65.7920
3     Mahipar Hydroelectric Power Plant Afghanistan    34.556    69.4787
4  Naghlu Dam Hydroelectric Power Plant Afghanistan    34.641    69.7170

  primary_fuel  capacity_mw  commissioning_year  generation_gwh_2013  \
0        Hydro         33.0                 NaN                  NaN
1        Solar         10.0                 NaN                  NaN
2        Solar         10.0                 NaN                  NaN
3        Hydro         66.0                 NaN                  NaN
4        Hydro        100.0                 NaN                  NaN

   generation_gwh_2014  generation_gwh_2015  generation_gwh_2016  \
0                  NaN                  NaN                  NaN
1                  NaN                  NaN                  NaN
2                  NaN                  NaN                  NaN
3                  NaN                  NaN                  NaN
4                  NaN                  NaN                  NaN

   generation_gwh_2017
0                  NaN
1                  NaN
2                  NaN
3                  NaN
4                  NaN
Index(['country_short', 'country', 'name', 'latitude', 'longitude',
       'primary_fuel', 'capacity_mw', 'commissioning_year',
       'generation_gwh_2013', 'generation_gwh_2014', 'generation_gwh_2015',
       'generation_gwh_2016', 'generation_gwh_2017'],
      dtype='object')

/var/folders/_w/htmynbps67qc3xshbfqnl84h0000gp/T/ipykernel_18004/669053434.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df_gp = pd.read_csv("Data/global_power_plant_database.csv")

In [4]:
df_1 = pd.read_csv("Data/worldbank.csv")

df_1 = df_1.dropna(axis='columns', how='all')


# Drop columns we definitely don't need
df_1.drop(columns=["Series Code"], inplace=True, errors="ignore")
# World Bank (df_1)
df_1.rename(columns={"Country Name": "country"}, inplace=True)
print(df_1.head())

print("Column names:\n", df_1.columns)

       country Country Code  \
0  Afghanistan          AFG
1  Afghanistan          AFG
2  Afghanistan          AFG
3  Afghanistan          AFG
4  Afghanistan          AFG

                                         Series Name 1960 [YR1960]  \
0  Carbon dioxide (CO2) emissions from Building (...            ..
1                              Coal rents (% of GDP)            ..
2      Adjusted savings: energy depletion (% of GNI)            ..
3   Adjusted savings: energy depletion (current US$)            ..
4  Alternative and nuclear energy (% of total ene...            ..

  1961 [YR1961] 1962 [YR1962] 1963 [YR1963] 1964 [YR1964] 1965 [YR1965]  \
0            ..            ..            ..            ..            ..
1            ..            ..            ..            ..            ..
2            ..            ..            ..            ..            ..
3            ..            ..            ..            ..            ..
4            ..            ..            ..            ..            ..

  1966 [YR1966]  ...       2014 [YR2014]       2015 [YR2015]  \
0            ..  ...              0.5972              0.9033
1            ..  ...    0.22737000694477   0.163204860716174
2            ..  ...  0.0966641446262806  0.0559867833285066
3            ..  ...    19862746.2035553    11297542.3977155
4            ..  ...                  ..                  ..

        2016 [YR2016]      2017 [YR2017]      2018 [YR2018]  \
0              0.7121             0.6048             0.6925
1   0.249916790607737   0.40234480168601  0.541363923742697
2  0.0763640841889861  0.121057624440334  0.163438299892063
3    13897596.0742528   23176502.8071736   30416288.2185315
4                  ..                 ..                 ..

       2019 [YR2019]        2020 [YR2020]       2021 [YR2021] 2022 [YR2022]  \
0             0.5679               0.5674              0.5918        0.6013
1  0.334119584032567  0.00700147458719358  0.0193977562950517            ..
2  0.100777601807337  0.00571019277688492  0.0182028796567567            ..
3   19354353.5082382     1161018.32966959    2714217.43346233            ..
4                 ..                   ..                  ..            ..

  2023 [YR2023]
0            ..
1            ..
2            ..
3            ..
4            ..

[5 rows x 67 columns]
Column names:
 Index(['country', 'Country Code', 'Series Name', '1960 [YR1960]',
       '1961 [YR1961]', '1962 [YR1962]', '1963 [YR1963]', '1964 [YR1964]',
       '1965 [YR1965]', '1966 [YR1966]', '1967 [YR1967]', '1968 [YR1968]',
       '1969 [YR1969]', '1970 [YR1970]', '1971 [YR1971]', '1972 [YR1972]',
       '1973 [YR1973]', '1974 [YR1974]', '1975 [YR1975]', '1976 [YR1976]',
       '1977 [YR1977]', '1978 [YR1978]', '1979 [YR1979]', '1980 [YR1980]',
       '1981 [YR1981]', '1982 [YR1982]', '1983 [YR1983]', '1984 [YR1984]',
       '1985 [YR1985]', '1986 [YR1986]', '1987 [YR1987]', '1988 [YR1988]',
       '1989 [YR1989]', '1990 [YR1990]', '1991 [YR1991]', '1992 [YR1992]',
       '1993 [YR1993]', '1994 [YR1994]', '1995 [YR1995]', '1996 [YR1996]',
       '1997 [YR1997]', '1998 [YR1998]', '1999 [YR1999]', '2000 [YR2000]',
       '2001 [YR2001]', '2002 [YR2002]', '2003 [YR2003]', '2004 [YR2004]',
       '2005 [YR2005]', '2006 [YR2006]', '2007 [YR2007]', '2008 [YR2008]',
       '2009 [YR2009]', '2010 [YR2010]', '2011 [YR2011]', '2012 [YR2012]',
       '2013 [YR2013]', '2014 [YR2014]', '2015 [YR2015]', '2016 [YR2016]',
       '2017 [YR2017]', '2018 [YR2018]', '2019 [YR2019]', '2020 [YR2020]',
       '2021 [YR2021]', '2022 [YR2022]', '2023 [YR2023]'],
      dtype='object')

In [5]:
# Load the Excel file
df_2 = pd.read_excel("Data/World Energy Balances Highlights 2024.xlsx",
                     sheet_name="TimeSeries_1971-2023", header=None)

# Drop completely empty columns
df_2 = df_2.dropna(axis='columns', how='all')

# Set the second row as the header
new_header = df_2.iloc[1]  # Get the second row
df_2 = df_2[2:]  # Drop the first two rows, keeping the first row as data
df_2.columns = new_header  # Set the new header
# IEA Balances (df_2)
df_2.rename(columns={"Country": "country"}, inplace=True)
# Reset the index for clarity
df_2.reset_index(drop=True, inplace=True)

# Display the DataFrame and column names
print(df_2.head())
print("Column names:\n", df_2.columns)

1    country                   Product                                   Flow  \
0  Australia  Coal, peat and oil shale                        Production (PJ)
1  Australia  Coal, peat and oil shale                           Imports (PJ)
2  Australia  Coal, peat and oil shale                           Exports (PJ)
3  Australia  Coal, peat and oil shale               Total energy supply (PJ)
4  Australia  Coal, peat and oil shale  Electricity, CHP and heat plants (PJ)

1      NoCountry                     NoProduct  \
0  01. Australia  01. Coal, peat and oil shale
1  01. Australia  01. Coal, peat and oil shale
2  01. Australia  01. Coal, peat and oil shale
3  01. Australia  01. Coal, peat and oil shale
4  01. Australia  01. Coal, peat and oil shale

1                                     NoFlow         1971         1972  \
0                        01. Production (PJ)  1368.251838  1648.414248
1                           02. Imports (PJ)            0            0
2                           03. Exports (PJ)  -541.424001  -614.718001
3               04. Total energy supply (PJ)    884.29747   923.250159
4  05. Electricity, CHP and heat plants (PJ)  -516.538554   -569.92192

1         1973         1974  ...         2014         2015         2016  \
0  1685.223676  1640.362098  ...  11950.78794  12501.00154  12223.55369
1            0            0  ...     5.240999     6.978797     6.829994
2  -738.939398  -745.382946  ...  -10166.8869  -10634.4478  -10552.5051
3    945.54188    928.32307  ...    1736.5671  1797.035545  1863.051458
4  -577.900491  -617.948468  ... -1639.902404 -1704.823218 -1753.358738

1         2017         2018         2019         2020         2021  \
0  12256.93808   12323.3258  12596.41582  12334.88697  11467.56954
1     7.783701    12.364454     17.03485      19.2703    12.416851
2  -10248.0298  -10333.4232  -10629.0366   -10504.852 -9866.188301
3  1996.773936  1930.457749  1956.712871  1782.618877  1683.993595
4 -1723.631613 -1647.423349 -1608.995635  -1515.11305 -1467.357844

1         2022 2023 Provisional
0  11416.06592      10961.73829
1      15.0273        16.560904
2 -9687.771298     -9149.148195
3  1567.046515      1624.067792
4 -1394.946887               ..

[5 rows x 59 columns]
Column names:
 Index([         'country',          'Product',             'Flow',
              'NoCountry',        'NoProduct',           'NoFlow',
                     1971,               1972,               1973,
                     1974,               1975,               1976,
                     1977,               1978,               1979,
                     1980,               1981,               1982,
                     1983,               1984,               1985,
                     1986,               1987,               1988,
                     1989,               1990,               1991,
                     1992,               1993,               1994,
                     1995,               1996,               1997,
                     1998,               1999,               2000,
                     2001,               2002,               2003,
                     2004,               2005,               2006,
                     2007,               2008,               2009,
                     2010,               2011,               2012,
                     2013,               2014,               2015,
                     2016,               2017,               2018,
                     2019,               2020,               2021,
                     2022, '2023 Provisional'],
      dtype='object', name=1)

In [6]:
df_3 = pd.read_csv("Data/GreenGrowth_reduced.csv")
df_3 = df_3.dropna(axis='columns', how='all')
df_3.rename(columns={"Measure": "Measure_desc"}, inplace=True)
# OECD Green Growth (df_3)
df_3.rename(columns={"Reference area": "country"}, inplace=True)

print(df_3.head())
print("Column names:\n", df_3.columns)

  REF_AREA country      MEASURE                             Measure_desc  \
0      LVA  Latvia  WATER_FWCAP  Total freshwater abstraction per capita
1      LVA  Latvia  WATER_FWCAP  Total freshwater abstraction per capita
2      LVA  Latvia  WATER_FWCAP  Total freshwater abstraction per capita
3      LVA  Latvia  WATER_FWCAP  Total freshwater abstraction per capita
4      LVA  Latvia  WATER_FWCAP  Total freshwater abstraction per capita

   TIME_PERIOD  OBS_VALUE
0         1990        NaN
1         1991     247.00
2         1992     237.96
3         1993     193.19
4         1994     180.58
Column names:
 Index(['REF_AREA', 'country', 'MEASURE', 'Measure_desc', 'TIME_PERIOD',
       'OBS_VALUE'],
      dtype='object')

In [21]:
df_gp_filtered.to_sql(
    name="power_plants",
    con=conn,
    if_exists="replace",   # overwrite the table if it exists
    index=False            # don't write the DataFrame index as a column
)
print("Power Plant data loaded into 'power_plants' table.")

Power Plant data loaded into 'power_plants' table.

In [8]:
df_1.to_sql(
    name="world_bank",
    con=conn,
    if_exists="replace",
    index=False
)
print("World Bank data loaded into 'world_bank' table.")

World Bank data loaded into 'world_bank' table.

In [9]:
df_2.to_sql(
    name="iea_balances",
    con=conn,
    if_exists="replace",
    index=False
)
print("IEA Balances loaded into 'iea_balances' table.")

IEA Balances loaded into 'iea_balances' table.

In [10]:
df_3.to_sql(
    name="oecd_greengrowth",
    con=conn,
    if_exists="replace",
    index=False
)
print("Green Growth data loaded into 'oecd_greengrowth' table.")

Green Growth data loaded into 'oecd_greengrowth' table.

In [13]:
print(df_3.head())  # or df_3.sample(10)

  REF_AREA country      MEASURE                             Measure_desc  \
0      LVA  Latvia  WATER_FWCAP  Total freshwater abstraction per capita
1      LVA  Latvia  WATER_FWCAP  Total freshwater abstraction per capita
2      LVA  Latvia  WATER_FWCAP  Total freshwater abstraction per capita
3      LVA  Latvia  WATER_FWCAP  Total freshwater abstraction per capita
4      LVA  Latvia  WATER_FWCAP  Total freshwater abstraction per capita

   TIME_PERIOD  OBS_VALUE
0         1990        NaN
1         1991     247.00
2         1992     237.96
3         1993     193.19
4         1994     180.58

In [11]:
print(df_3.columns)

Index(['REF_AREA', 'country', 'MEASURE', 'Measure_desc', 'TIME_PERIOD',
       'OBS_VALUE'],
      dtype='object')

In [12]:
cursor = conn.cursor()
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
tables = cursor.fetchall()
print("Tables in database:", tables)

Tables in database: [('country_capacity',), ('power_plants',), ('world_bank',), ('iea_balances',), ('oecd_greengrowth',)]